@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;

    --fuente-principal: "Montserrat", sans-serif;
    --fuente-secundaria: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    
}

.header{
    padding: 5% 0% 0% 15%;
}

.header_menu{
    display: flex;
    gap: 80px;
}


.header_menu_link{
    font-family: var(--fuente-principal);
    color: var(--color-terciario);
    text-decoration: none;

}

.header_menu_link:hover{
    color: #c8ff00;
}

.main{
    display: flex;
    
    padding: 6% 15%;
    justify-content: space-between;
    gap: 82px;
    flex-direction: column;
    padding-bottom:50px;
}

.main_contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    
    
}

.main_contenido_titulo{
    color: var(--color-terciario);
    font-size: 2.5rem;
    font-family: var(--fuente-secundaria);
    padding: 5%;
    
    
        
}

.main_contenido_parrafo{
    color: var(--color-secundario);
    font-size: 1.5rem;
    font-family: var(--fuente-principal);
}

.main_imagen{
    width: 31.25rem;
    padding: 3%;
}

.main_videos_lista{
    justify-content: space-between;
    
}

h2{
    padding: 5%;
}


.footer{
    background-color: var(--color-terciario);
    padding: 1.5rem;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 1.5rem;
    font-weight: 25rem;
    
        
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }

    .header_menu{
        justify-content: center;
     }
    
    .main{
        flex-direction: column;
        padding: 5%;
    }

    .main_contenido_parrafo{
        width: auto;
    }

}